<div class="row">
  <div class="span8 offset2">
    <%= render 'shared/fact_form' %>  
  </div>
</div>
<div class="row">
  <div class="span8 offset2">
    <% if @facts.any? %>
      <ul class="facts">
        <%= render @facts %>
      </ul>
      <%= will_paginate @facts %>
    <% end %>
  </div>
</div>
