<footer class="footer">
  <div class="row">
    <div class="span8 offset2">
      <small>
        PibleyFacts created by
        <a href="http://www.wheatboxstudios.com/">Alex Howington</a>
      </small>
    </div>
  </div>
</footer>